.btn-main {
  background-color: #74af1f;
  border-color: #74af1f;
  color: #fff;
}

button:focus {
  outline: none !important;
}

.navbar.navbar-default {
  .navbar-toggler.navbar-toggler-main {
    border: none;
    padding: 0;
  }
  .nav-item {
    .nav-link {
      padding-bottom: 0;
      padding-top: 0;
      color: #65757f;
      &:hover {
        color: #74af1f;
        text-decoration: none;
      }
    }
  }
}