:local .MyAdd {
  .row {
    margin-bottom: 10px;
    .card-subtitle.trash-category {
      margin-bottom: 10px;
      span {
        font-size: 12px;
        font-weight: 500;
        color: #8c8c8c;
      }
    }
    .card-text {
      font-size: 14px;
    }
    .card-link {
      svg {
        font-size: 24px;
      }
      span {
        vertical-align: middle;
      }
    }
  }
}