:local(.Home) .select-input__control {
  outline: none;
  border-radius: 6px; }
  :local(.Home) .select-input__control:hover {
    border-color: #ccc; }

:local(.Home) .select-input__control--is-focused {
  border-color: #ccc;
  box-shadow: none; }

:local(.Home) .select-input__value-container {
  border-color: #ccc;
  box-shadow: none; }
